*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    display: grid;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";
    grid-template-rows: 75px  auto  75px;
    grid-template-columns: 1fr 5fr 1fr;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 5%;
    background-color: #fff;
    grid-area: header;
    box-shadow: 0 3px 3px rgb(180, 210, 230);
}
.logo{
    
}
.wrapper-nav-btns ul{
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    list-style: none;
}
.wrapper-nav-btns ul li{
   cursor: pointer; 
}
.pau{
    align-items: center;
    width: 465px;
}





main{
    position: relative;
    z-index: -1;
    background-color:white;
    grid-area: main;    
    box-shadow: 3 3px 3px rgb(180, 210, 230);
    
    
}
section{
    border: 1px solid black;
    height: 420px;
    padding: 5%;
}
.box-content-section{
    background-color: white;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 5px;
}
.box-content-section div{
    background-color: #fff;
    
}




footer{
    background-color: transparent;
    grid-area: footer;
    box-shadow: 0 -3px 3px rgb(180, 210, 230);
}